@page
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpQueryFilterDemo.Localization
@using Volo.Abp.Users
@model AbpQueryFilterDemo.Web.Pages.IndexModel
@inject IHtmlLocalizer<AbpQueryFilterDemoResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js" />
    </abp-script-bundle>
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-2">@L["Blogs"] (@L["WithIncludes"])</h1>
            <abp-table striped-rows="true" id="BlogsTable"></abp-table>
            <h1 class="mt-2">@L["Blogs"] (@L["IgnoreDeleted"])</h1>
            <abp-table striped-rows="true" id="BlogsTable_IgnoreDeleted"></abp-table>
        </div>

        <div class="col">
            <h1 class="mt-4 border-top">@L["Posts"] (@L["WithIncludes"])</h1>
            <abp-table striped-rows="true" id="PostsTable"></abp-table>
            <h1 class="mt-4 border-top">@L["Posts"] (@L["IgnoreDeleted"])</h1>
            <abp-table striped-rows="true" id="PostsTable_IgnoreDeleted"></abp-table>
            <h1 class="mt-4 border-top">@L["Posts"] (@L["NoIncludes"])</h1>
            <abp-table striped-rows="true" id="PostsTable_ExclDetails"></abp-table>
            <h1 class="mt-4 border-top">@L["Posts"] (@L["NoIncludes"]) - using query syntax</h1>
            <abp-table striped-rows="true" id="PostsTable_ExclDetails2"></abp-table>
        </div>
    </div>
</div>